:root {
  --image_width: 100%;
}

body {
  background-color: #f2f2f2;
}

article {
  background-color: white;
  font-family: 'MaisonNeue', Arial, Helvetica, sans-serif;
  border: #cbd1da solid 2px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}
.card-donate__image {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  width: var(--image_width);
  height: var(calc(--image_width / 2));
}

.card-donate__heading {
  font-size: 16px;
  line-height: 30px;
  color: #213140;
  text-transform: uppercase;
  font-weight: 700;
}

.card-donate__info,
.progress_bar-label,
.to-go_amount,
.received_amount,
.card-donate__link {
  font-size: 14px;
}

.card-donate__info {
  line-height: 22px;
  color: #7d7d7d;
  font-weight: 400;
}

.card-donate_container {
  padding: 1rem;
}

.card-donate__progress-bar,
dl {
  display: flex;
}

.card-donate__progress-bar {
  flex-direction: column;
}

.progress_bar-label {
  color: #0083c3;
  text-transform: uppercase;
  line-height: 30px;
  font-weight: 700;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

#progress_bar {
  width: 100%;
  height: 20px;
}

/* The parent element of the progress bar */
progress {
  -webkit-appearance: none;
  overflow: hidden;
  border: none;
  border-radius: 10px;
  background-color: whitesmoke;
}

/* webkit-progress-bar is the inner of the progress bar */
::-webkit-progress-bar {
  background-color:whitesmoke;
  border-radius: 10px;
  overflow: hidden;
}

/* value support by firefox */
::-moz-progress-bar {
  border-radius: 10px;
  overflow: hidden;
}

/* value support by internet explorer and microsoft edge */
::-ms-fill {
  border: none;
  border-radius: 10px;
}

/* -webkit-progress-value is the the value of the progress bar */
::-webkit-progress-value {
  background-color: #0083c3;
  border-radius: 10px;
  overflow: hidden;
}

.amount {
  margin: 0;
}

dt,
.to-go_amount {
  color: #2e2e2e;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 25px;
}

.received_amount {
  color: #0083c3;
}

.card-donate__footer {
  border-top: 2px solid #cbd1da;
}

.card-donate__link {
  display: block;
  line-height: 12px;
  text-transform: uppercase;
  color: #0083c3;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

dl {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
