.form_donate {
  position: relative;
  border: 1px solid lightgray;
  border-radius: 2rem;
  width: 500px;
  height: 67px;
  margin-block-start: 4rem;
  margin-inline-start: 2rem;
}

label[for="donation_amount"] {
  position: absolute;
  top: 50%;
  margin-inline-start: 2rem;
  border-bottom: 1px solid;
  text-shadow: 2px 2px rgb(0, 174, 255);
  transform: translate(10px, -10px);
  background-color: hotpink;
  z-index: 1;
}

.form_donate:focus-within label[for="donation_amount"] {
  position: absolute;
  top: -50%;
  left: 0%;
  border: none;
}

input[id="donation_amount"] {
  border: transparent;
  z-index: -1;
}

input[type="number"] {
  top: 50%;
  position: absolute;
  margin-inline-start: 1rem;
  transform: translate(10px, -8px);
}

label {
  color: blue;
  text-transform: uppercase;
  font-size: medium;
  font-weight: 700;
}

.button {
  position: absolute;
  left: 80%;
  top: 50%;
  transform: translate(10px, -10px);
}

.checkbox_monthly {
  position: absolute;
  top: 100%;
  left: 30%;
  margin-block-start: 1rem;
}
