
.form-subscribe {
  position: relative;
  color: #FFFFFF;
  background-color: #0083C3;
  line-height: 36px;
}

.form-title {
  font-weight: 300;
}

.user-email {
  border-block-end: 1px solid #FFFFFF;
  position: absolute;
  top: 30%;
  left: 50%;
  transition: top .2s ease-in;
}


.form-subscribe:focus-within label {
  position: absolute;
  top: 0;
  left: 50%;
  border: none;
  transition: top .2s ease-in;
}

.user-input {
  background-color: transparent;
  color: #FFFFFF;
  border: none;
}


@media (min-width: 700px) {
  .form-subscribe {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #FFFFFF;
    background-color: #0083C3;
    line-height: 36px;
    font-size: 22px;
  }
}
