.form_donate {
  position: relative;
  border: 1px solid;
  border-radius: 2rem;
  width: 500px;
  height: 67px;
}
label[for="donation_amount"]{
  position: absolute;
  top: 40%;
  bottom: 50%;
  transform: translate(-50% -50%);
  padding-inline-start: 2rem;
}

.form_row:focus-within label {
  position: absolute;
  top: -40%;
  bottom: 50%;
  transform: translate(-50% -50%);
  z-index: 1;
}

input[id="donation_amount"] {
  border: transparent;
  z-index: -1;
}

input[type="number"] {
  top: 1rem;
  position: absolute;
  padding-block-start: 1rem;

}

label[for="donation_amount"],
label[for="donate_checkbox"] {
  color: blue;
  text-transform: uppercase;
}

.button {
  padding-inline-start: 25rem;
}
