
.form-subscribe {
  position: relative;
  color: #FFFFFF;
  background-color: #0083C3;
  line-height: 36px;
}

fieldset {

}
.form-title {
  font-weight: 300;
}

.user-email {
  border-block-end: 1px solid #FFFFFF;
}

.user-input:focus-within {
  position: absolute;
  top: 50%;
  left: 50%;
}

.user-input {
  border: none;
  background-color: transparent;
  color: #FFFFFF;
}

@media (min-width: 700px) {
  .form-subscribe {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #FFFFFF;
    background-color: #0083C3;
    line-height: 36px;
    font-size: 22px;
  }
}
