/* Form style */

.form_subscribe__form {
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #FFFFFF;
  background-color: #0083C3;
  padding-left: 2rem;
  width: 100%;
  padding-right: 2rem;
}

.form_subscribe-title {
  font-weight: 300;
}

.form_subscribe__form--wrapper {
  border-block-end: 1px solid #FFFFFF;
  max-width: 250px;
  margin-bottom: 1rem;
}

.form_subscribe__form--group {
  position: relative;
  padding: 0;
  border: none;
}

.form_subscribe__user--email {
  position: absolute;
  top: 0%;
  transition: top .1s ease-in;
}

.form_subscribe__user--input {
  background-color: transparent;
  color: #FFFFFF;
  border: none;
}

/* When the label is focused, the input appears */

.form_subscribe__form:focus-within .form_subscribe__user--email {
  position: absolute;
  top: -50%;
  border: none;
  transition: top .1s ease-in;
}

/* For a screen bigger than 400px. */

@media (min-width: 400px) {
  .form_subscribe__form {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #FFFFFF;
    background-color: #0083C3;
    line-height: 36px;
    font-size: 22px;
    padding-left: 0;
    padding-right: 0;
  }
  .form_subscribe__user--input {
    min-width: 200px;
  }

  .form_subscribe__form--wrapper {
    margin-bottom: 0;
  }
}



/* Any other variations of this pattern */

 .form_subscribe__second-example__form {
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #FFFFFF;
  background-color: #0083C3;
  line-height: 36px;
  padding-left: 2rem;
  width: 100%;
  padding-right: 2rem;
}

 .form_subscribe__second-example__form-title {
  font-weight: 300;
}

 .form_subscribe__second-example__form--wrapper {
  border-block-end: 1px solid #FFFFFF;
  max-width: 250px;
  margin-bottom: 1rem;
}

 .form_subscribe__second-example__form--group {
  position: relative;
  padding: 0;
  border: none;
}

 .form_subscribe__second-example__form:focus-within .form_subscribe__second-example__user--email {
  position: absolute;
  top: -50%;
  border: none;
  transition: top .1s ease-in;
}

 .form_subscribe__second-example__user--email {
  position: absolute;
  top: 0%;
  transition: top .1s ease-in;
}

 .form_subscribe__second-example__user--input {
  background-color: transparent;
  color: #FFFFFF;
  border: none;
}

@media (min-width: 400px) {
   .form_subscribe__second-example__form {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #FFFFFF;
    background-color: #0083C3;
    line-height: 36px;
    font-size: 22px;
    padding-left: 0;
    padding-right: 0;
  }
   .form_subscribe__second-example__user--input {
    min-width: 200px;
  }

   .form_subscribe__second-example__form--wrapper {
    margin-bottom: 0;
  }
}

/* Add test cases of this pattern, like wrapping text, overflowing content, and tight spaces  */
 .form_subscribe__third-example__form {
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #FFFFFF;
  background-color: #0083C3;
  line-height: 36px;
  padding-left: 2rem;
  width: 100%;
  padding-right: 2rem;
}

 .form_subscribe__third-example__form-title {
  font-weight: 300;
}

 .form_subscribe__third-example__form--wrapper {
  border-block-end: 1px solid #FFFFFF;
  max-width: 250px;
  margin-bottom: 1rem;
}

 .form_subscribe__third-example__form--group {
  position: relative;
  padding: 0;
  border: none;
}

 .form_subscribe__third-example__form:focus-within .form_subscribe__third-example__user--email {
  position: absolute;
  top: -50%;
  border: none;
  transition: top .1s ease-in;
}

 .form_subscribe__third-example__user--email {
  position: absolute;
  top: 0%;
  transition: top .1s ease-in;
}

 .form_subscribe__third-example__user--input {
  background-color: transparent;
  color: #FFFFFF;
  border: none;
}

@media (min-width: 400px) {
   .form_subscribe__third-example__form {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #FFFFFF;
    background-color: #0083C3;
    line-height: 36px;
    font-size: 22px;
    padding-left: 0;
    padding-right: 0;
  }
   .form_subscribe__third-example__user--input {
    min-width: 200px;
  }

   .form_subscribe__third-example__form--wrapper {
    margin-bottom: 0;
  }
}



.form_subscribe__fourth-example__form {
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #FFFFFF;
  background-color: red;
  line-height: 36px;
  padding-left: 2rem;
  width: 100%;
  padding-right: 2rem;
}

.form_subscribe__fourth-example-title {
  font-weight: 300;
}

.form_subscribe__fourth-example__form--wrapper {
  border-block-end: 1px solid #FFFFFF;
  max-width: 250px;
  margin-bottom: 1rem;
}

.form_subscribe__fourth-example__form--group{
  position: relative;
  padding: 0;
  border: none;
}

.form_subscribe__fourth-example__form:focus-within .form_subscribe__fourth-example__user--email {
  position: absolute;
  top: -50%;
  border: none;
  transition: top .1s ease-in;
}

.form_subscribe__fourth-example__user--email {
  position: absolute;
  top: 0%;
  transition: top .1s ease-in;
}

.form_subscribe__fourth-example__user--input {
  background-color: transparent;
  color: #FFFFFF;
  border: none;
}

@media (min-width: 400px) {
  .form_subscribe__fourth-example__form {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #FFFFFF;
    background-color: red;
    line-height: 36px;
    font-size: 22px;
    padding-left: 0;
    padding-right: 0;
  }
  .form_subscribe__fourth-example__user--input {
    min-width: 200px;
  }

  .form_subscribe__fourth-example__form--wrapper {
    margin-bottom: 0;
  }
}
