.form_donate {
  position: relative;
  border: 1px solid lightgray;
  border-radius: 2rem;
  width: 500px;
  height: 67px;
  margin-block-start: 4rem;
}
label[for="donation_amount"]{
  position: absolute;
  top: 40%;
  bottom: 50%;
  padding-inline-start: 2rem;
}


.form_donate:focus-within label[for="donation_amount"] {
  position: absolute;
  top: -50%;
  left: 0%;
}

input[id="donation_amount"] {
  border: transparent;
  z-index: -1;
}

input[type="number"] {
  top: 1rem;
  position: absolute;
  margin-block-start: 0.5rem;
  margin-inline-start: 1rem;

}

label[for="donation_amount"],
label[for="donate_checkbox"] {
  color: blue;
  text-transform: uppercase;
}

.button {
  position: absolute;
  left: 80%;
  top: 35%;
}

.checkbox_monthly {
  position: absolute;
  top: 100%;
  left: 30%;
  margin-block-start: 1rem;
}
