.nav_pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav_pagination_list {
  list-style: none;
}

.nav_pagination_list a {
  list-style: none;
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
  padding-block-start: 1rem;
  padding-block-end: 1rem;
  font-size: 14px;
  border: 1px solid #C8D1DA;
  border-radius: 50%;
  margin-inline-start: 1rem;
  margin-inline-end: 1rem;
  text-align: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  font-weight: bold;
  color: darkgray;
  font-size: 22px;
}
.nav_pagination_clicked {
  background-color: #0083C3;
}
body nav:first-of-type [rel="prev"] {
  cursor: not-allowed;
  pointer-events: none;
}
.nav_pagination_second__clicked {
  background-color: #0083C3;
}


.nav_pagination__anchor {
  text-decoration: none;
  line-height: 40px;
  display: block;
}

.nav_pagination_buttons a {
  padding-block-start: 1rem;
  padding-block-end: 1rem;
  padding-inline-start: 2rem;
  padding-inline-end: 2rem;
  border: 1px solid #C8D1DA;
  border-radius: 10rem;
  width: 90px;
  height: 40px;
  text-align: center;
  font-weight: bold;
  color: blue;
  font-size: 22px;
}

.ally {
  display: none;
}

.nav_pagination__container {
  padding: 0;
  display: flex;
  flex-direction: row;
}
