.nav_pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

nav ul li {
  list-style: none;
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
  padding-block-start: 1rem;
  padding-block-end: 1rem;
  font-size: 14px;
  border: 1px solid #C8D1DA;
  border-radius: 50%;
  margin-inline-start: 1rem;
  margin-inline-end: 1rem;
  text-align: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

body a {
  text-decoration: none;
  line-height: 40px;
}

body p {
  padding-block-start: 1rem;
  padding-block-end: 1rem;
  padding-inline-start: 2rem;
  padding-inline-end: 2rem;
  border: 1px solid #C8D1DA;
  border-radius: 10rem;
  width: 90px;
  height: 40px;
  text-align: center;
}

.ally {
  display: none;
}

.page_container {
  padding: 0;
  display: flex;
  flex-direction: row;
}
