.share-text,
a {
  color: #C8D1DA;
}

/*size and color of the svg*/
.icon svg {
  fill:currentColor;
  max-width: 100%;
  max-height: 100%;
}

.share-text {
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
  margin-right: 3.125rem;
}

.share-navigation li a {
  width: 2rem;
  height: 2rem;
  display: block;
  margin: 0;
}

.share-navigation li {
  list-style: none;
  margin: 0;
  display: block;
}

.share-navigation li:not(:first-of-type) {
  margin-left: 1.25rem;
}

.share {
  display: flex;
  margin: 2rem;
  align-items: center;
  flex-wrap: wrap;
}

.share-navigation ul {
  display: flex;
  margin: 0;
  flex-direction: row;
  align-items: center;
  padding: 0;
}

/*Darkgrey share*/
.share-second .share-text,
.share-second a{
  color:#6A707E;
}

/* html test case
body {
  background-color: blue;
}

.share-third {
  justify-content: flex-end;
}*/
