:root {
  --line_height: 1.25;
  --based-font-size: 1.125rem;
  --based-unit: calc(var(--line_height) * var(--based-font-size) - var(--based-font-size) / 2);
  --padding-block: calc(1rem - var(--based-unit));

}

.button {
  border: 1px solid;
  border-radius: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem 3rem;
  font-family: inherit;
  font-size: var(--based-font-size);
  line-height: var(--line_height);
  text-align: center;
}

.button__primary {
  background-color: #00B2D8;
  color: #fff;
}

.button__primary--submit {
  padding: 1rem 5rem;
}

.button__secondary {
  background-color: #fff;
  color: #0083C3;
}

.button__tertiary {
  color: #fff;
  border: 1px solid #fff;
  background-color: inherit;
}


.button__complete {
  background-color: #7ED321;
  color: #fff;
  padding: 1rem 5rem;
}

main {
  background-color: #000;
}
